:root {
  --bg-color: #151414;
  --txt-color: white;
  --btn-color: rgb(40, 40, 40);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 1em;
}

h1 {
  margin: 0;
}

select {
  background-color: transparent;
  color: inherit;
  border-radius: 20px;
  border: 1px solid var(--btn-color);
  padding: 0.5em;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.logo_image {
  width: 200px;
  height: 50px;
  background-image: url(../assets/images/logo_spacex.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.search_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}

.search_button {
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--txt-color);
  padding: 0.5em 1em;
  border-radius: 20px;
  border: 1px solid var(--btn-color);
}

.info_launch_container {
  width: auto;
  height: 400px;
  border: 1px solid var(--btn-color);
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 2em;
  overflow-y: hidden;
}

.video_container {
  text-align: center;
}
